@model WhareHouse.Models.CLIENT

@{
    ViewBag.Title = "Create";
    long idclient = ViewBag.idClient;
}

<div class="breadcrumb topBar">
    <div class="topButtonsContainer">
        @Html.ActionLink("Lista Clientes", "Index", null, new { @class = "btn btn-outline-primary topButtons" })
    </div>
    <div class="topButtonsContainer">
        @Html.ActionLink("Agregar Cliente", "Create", null, new { @class = "btn btn-outline-primary topButtons" })
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-user-plus"></i>
        Agregar Cliente
    </div>
    <div class="card-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "divdivItems" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="divItems">

            <div class="form-group Atributes">
                <h5>ID Cliente:</h5>
                <div class="col-md-10">
                    <p class = "form-control">@idclient</p>
                </div>
            </div>

            <div class="form-group Atributes">
                <h5>Rut Cliente: </h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CLIENTRUT, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CLIENTRUT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group Atributes">
                <h5>Nombres:</h5>
                <div class="input-group twoImputs col-md-10">
                    <div class="Inputstext">
                        @Html.EditorFor(model => model.NAME1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NAME1, "", new { @class = "text-danger" })
                    </div>
                    <div class="Inputstext">
                        @Html.EditorFor(model => model.NAME2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NAME2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group Atributes">
                <h5>Apellidos:</h5>
                <div class="input-group twoImputs col-md-10">
                    <div class="Inputstext">
                        @Html.EditorFor(model => model.LASTNAME1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LASTNAME1, "", new { @class = "text-danger" })
                    </div>
                    <div class="Inputstext">
                        @Html.EditorFor(model => model.LASTNAME2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LASTNAME2, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            

        </div>
        <div class="divItems">


            <div class="form-group Atributes ">
                <h5>Fecha De Nacimiento</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BIRTHDATE, new { htmlAttributes = new { @class = "form-control", @max = "2001-06-28" } })
                    @Html.ValidationMessageFor(model => model.BIRTHDATE, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group Atributes">
                <h5>Celular:</h5>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CELLPHONE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CELLPHONE, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group Atributes">
                <h5>¿Esta Autorizado Para Fiar?</h5>
                <div class="col-md-10 RadioCenter">

                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(model => model.BLACKLIST, "1", new { @id = "RadioSi", @class = "custom-control-input" })
                        <label class="custom-control-label" for="RadioSi">Si</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(model => model.BLACKLIST, "0", new { @id = "RadioNo", @class = "custom-control-input" })
                        <label class="custom-control-label" for="RadioNo">No</label>
                    </div>
                    @Html.ValidationMessageFor(model => model.BLACKLIST, "", new { @class = "text-danger" })
                </div>

                <input type="submit" value="Agregar" class="btn btn-success btnCreate" />
            </div>



        </div>



        }

    </div>

</div>