@model WhareHouse.Models.LOGIN

@{
    ViewBag.Title = "Edit";
    WhareHouse.Controllers.AccountController account = new WhareHouse.Controllers.AccountController();
}

@if (account.IsAdmin(@Request.Cookies["IsAdmin"].Value))
{
    <div class="breadcrumb topBar">
        <div class="topButtonsContainer">
            @Html.ActionLink("Lista Usuarios", "Index", null, null, new { @class = "btn btn-outline-primary topButtons" })
        </div>
        <div class="topButtonsContainer">
            @Html.ActionLink("Agregar Usuario", "Create", null, new { @class = "btn btn-outline-primary topButtons" })
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-user-plus"></i>
            Editar Usuario
        </div>
        <div class="card-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "divdivItems" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IDUSER)
                @Html.HiddenFor(model => model.USERNAME)
                <div class="divItems">

                    <div class="form-group Atributes">
                        <h5>Nombre Usuario</h5>
                        <div class="col-md-10">
                            <p class="form-control">@Model.USERNAME</p>

                        </div>
                    </div>

                    <div class="form-group Atributes">
                        <h5>Contraseña</h5>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PASSWORDUSER, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PASSWORDUSER, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="divItems">
                    <div class="form-group Atributes">
                        <h5>Rol</h5>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ROL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ROL, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="Editar" class="btn btn-success btnCreate detailsButton" />

                    </div>
                </div>


            }

        </div>

    </div>
}
else
{
    @Html.Partial("IsnotAdmin")
}