
@{
    ViewBag.Title = "_NavbarLeft";
}

<ul class="sidebar navbar-nav">
    <li class="nav-item active">
        @Html.ActionLink(" Proveedor", "Index", "Providers", null, new { @class = "nav-link fas fa-fw fa-tachometer-alt" })
    </li>
    <li class="nav-item active">
        @Html.ActionLink(" Producto", "Index", "Products", null, new { @class = "nav-link fas fa-fw fa-tachometer-alt" })
    </li>
    <li class="nav-item active">
        @Html.ActionLink(" Cliente", "Index", "Clients", null, new { @class = "nav-link fas fa-fw fa-tachometer-alt" })
    </li>
    <li class="nav-item active">
        @Html.ActionLink(" Fecha De Vencimiento", "Index", "ExpirationDate", null, new { @class = "nav-link fas fa-fw fa-tachometer-alt" })
    </li>
    <li class="nav-item active">
        @Html.ActionLink(" Venta", "Create", "Venta", null, new { @class = "nav-link fas fa-fw fa-tachometer-alt" })
    </li>
    <li class="nav-item active">
        @Html.ActionLink(" Fiados", "Index", "Trusted", null, new { @class = "nav-link fas fa-fw fa-tachometer-alt" })
    </li>
    @*<li class="nav-item dropdown">
            <a class="nav-link" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                <a class="dropdown-item" href="login.html">Login</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="register.html">Register</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
            </div>
        </li>*@

</ul>

