@model IEnumerable<WhareHouse.Models.EXPIRATIONDATE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EXPIREDATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTQUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCT.PRODUCTNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EXPIREDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTQUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCT.PRODUCTNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LOTNUMBER }) |
            @Html.ActionLink("Details", "Details", new { id=item.LOTNUMBER }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LOTNUMBER })
        </td>
    </tr>
}

</table>
