@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/content/css")
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Account"))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.Editor("UserName", new { htmlAttributes = new { @class = "form-control", @placeholder = "Email address", @required = "required", @autofocus = "autofocus", id = "Username" } })
                            <label for="Username">Nombre De Usuario</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            @Html.Editor("Pasword", new { htmlAttributes = new
                       { @class = "form-control", @placeholder = "Contraseña", @required = "required", @autofocus = "autofocus", @type = "password", id = "inputPassword" }})
                            <label for="inputPassword">Contraseña</label>
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Ingresar" />
                }

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
